<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.nitobi.johngarrett" version="1.0">
	<name>Ionic</name> 
	<description>
		Ionic test app
	</description> 
	<author href="http://www.sae.edu" email="brankko@plagosus.com">
		SAE Web
	</author> 
	<icon src="res/icon.png" width="512" height="512" />
</widget>