<ion-view view-title="Our Team">
  <ion-content>
  <p class="padding">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae incidunt iusto eum, quam quas nostrum aliquam, similique dolores? Debitis qui nihil consectetur necessitatibus quasi sit reprehenderit sapiente laudantium blanditiis quo.</p>

<div class="list">

    <a class="item item-avatar" href="#">
      <img src="img/branko.jpg">
      <h2>BRANCO DJURKOVIC</h2>
      <p>Back off, man. I'm The Manager.</p>
    </a>

    <a class="item item-avatar" href="#">
      <img src="img/petar.jpg">
      <h2>PETAR MESARIC</h2>
      <p>Back off, man. I'm a spider.</p>
    </a>

    <a class="item item-avatar" href="#">
      <img src="img/rudi.jpg">
      <h2>RUDI AI</h2>
      <p>Back off, man. I'm a spider.</p>
    </a>

    <a class="item item-avatar" href="#">
      <img src="img/me.jpg">
      <h2>HACHEMI YOUSSOUF </h2>
      <p>Back off, man. I'm a spider.</p>
    </a>

    

</div>


    
  </ion-content>
</ion-view>
