<ion-view view-title="What we can do">
  <ion-content>
    <ul class="list">

  <li class="item item-toggle">
     Solar System
     <label class="toggle toggle-assertive">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>

 <div class="item item-body">
    <img class="full-image" src="img/solar_system_the_planets.jpg">
    <p>
      A solar system refers to a star and all the objects that travel in orbit around it. Our solar system consists of the sun - our star - eight planets and their natural satellites (such as our moon); dwarf planets; asteroids and comets. Our solar system is located in an outward spiral of the Milky Way galaxy.
    </p>
    

<div class="list list-inset">
  <label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" placeholder="Search">
  </label>
</div>



<ul class="list">

  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox">
     </label>
     Mercury
  </li>

 <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox">
     </label>
     Venus
  </li>

  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox">
     </label>
     Earth
  </li>

  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox">
     </label>
     Mars
  </li>

  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox">
     </label>
     Jupiter
  </li>

  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox">
     </label>
     Saturn
  </li>

  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox">
     </label>
     Uranus
  </li>

  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox">
     </label>
     Neptune
  </li>

</ul>

<div class="list">
  <div class="item range range-positive">
    <i class="icon ion-minus-circled"></i>
    <input type="range" name="volume" min="0" max="100" value="33">
    <i class="icon ion-plus-circled"></i>
  </div>
</div>


<div class="list">

    <a class="item item-thumbnail-left" href="https://www.youtube.com/watch?v=h1AaKBbNGkk">
      <img src="img/The-Prodigy-Tour-Poster.jpg">
      <h2>PRODIGY</h2>
      <p>The day is my enemy</p>
    </a>

</div>


<div class="list">

    <a class="item item-thumbnail-left" href="https://www.youtube.com/watch?v=YWNWi-ZWL3c">
     <img src="img/mad max.jpg">
      <h2>Mad Max: Fury Road</h2>
      <p>Official Theatrical Teaser Trailer [HD]</p>
    </a>

</div>








  </ion-content>
</ion-view>
