<ion-view view-title="Apply for the app ">
<ion-content class="padding">

<div class="card">
  <div class="item item-text-wrap">
  <h1>Welcome</h1>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio saepe commodi voluptate, distinctio ducimus obcaecati eius quidem tenetur? Expedita cum excepturi iure vitae distinctio voluptatem mollitia adipisci totam, nulla saepe!
  </div>
</div>

<form>
  <div class="list">


    <label class="item item-input item-stacked-label">
      <span class="input-label">Name</span>
      <input type="text" placeholder="John Doe" ng-model="applyForm.name">
    </label>
    <label class="item item-input item-stacked-label">
      <span class="input-label">Email</span>
      <input type="email" placeholder="john@doe.com" ng-model="applyForm.email">
    </label>
    <label class="item item-input item-stacked-label">
      <span class="input-label">Description</span>
      <textarea placeholder="Short description of your App" rows="5" cols="1" ng-model="applyForm.desc"></textarea>
    </label>

  </div>


  <button class="button button-block button-positive" ng-click="doApply()">Apply</button>
</form>




</ion-content>
</ion-view>

