<ion-view view-title="Apply for the app">
  <ion-content class="padding">

<div class="row" id="margin">
  <div class="col col-90">
  <span class="ninetynine">99</span><span class="euro">€</span>
</div >
</div>
    <div class="list">

  <label class="item item-input item-stacked-label">
    <span class="input-label">Name</span>
    <input type="text" placeholder="John Doe">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Email</span>
    <input type="text" placeholder="john@suhr.com">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Description</span>
    <input type="text" placeholder="Short description of your app">
  </label>
  
</div>



  </ion-content>
</ion-view>
