<ion-view view-title="Our Team">
  <ion-content>
  <p class="padding">A Group of enthusiastic developers and programmers interested to collaborate and learn more about new technologies and passionate about all aspects of software development,from architecture to user interface.</p>

<div class="list">

    <a class="item item-avatar" href="#">
      <img src="img/branko.jpg">
      <h2>BRANCO DJURKOVIC</h2>
      <p> The Manager.</p>
    </a>

    <a class="item item-avatar" href="#">
      <img src="img/petar.jpg">
      <h2>PETAR MESARIC</h2>
      <p>Developer.</p>
    </a>

    <a class="item item-avatar" href="#">
      <img src="img/rudi.jpg">
      <h2>RUDI AI</h2>
      <p>Designer &amp; Developer.</p>
    </a>

    <a class="item item-avatar" href="#">
      <img src="img/me.jpg">
      <h2>HACHEMI YOUSSOUF </h2>
      <p>Developer.</p>
    </a>
    
</div>
  <p class="padding">We are a small team of professionals passionate about web development.Over the years we’ve built various great web applications following the best practices and the most popular trends.Our engineers enjoy learning and sharing what they learn and they get to work on some unique challenges.</p>

<div class="list">

    <a class="item item-thumbnail-left" href="#">
      <img src="img/html.png">
      <h2>HTML5</h2>
      <p>HTML Evolution</p>
    </a>

      <a class="item item-thumbnail-left" href="#">
      <img src="img/css.png">
      <h2>CSS 3</h2>
      <p>CSS 3 Modules</p>
    </a>


     <a class="item item-thumbnail-left" href="#">
      <img src="img/js.png">
      <h2>JAVASCRIPT</h2>
      <p>JavaScript Language</p>
    </a>

     <a class="item item-thumbnail-left" href="#">
      <img src="img/jquery.jpg">
      <h2>JQUERY</h2>
      <p>JQUERY Library</p>
    </a>

     <a class="item item-thumbnail-left" href="#">
      <img src="img/angular.jpg">
      <h2>ANGULAR</h2>
      <p>AngularJS — Superheroic JavaScript</p>
    </a>

     <a class="item item-thumbnail-left" href="#">
      <img src="img/ionic.jpg">
      <h2>IONIC</h2>
      <p>Hybrid Mobile App Framework</p>
    </a>

     <a class="item item-thumbnail-left" href="#">
      <img src="img/phonegap.jpg">
      <h2>PHONEGAP</h2>
      <p>Mobile Development Framework</p>
    </a>


</div>



    
  </ion-content>
</ion-view>
